# Rust
/target
app-bevy/target
lib-utils/target
**/*.rs.bk
Cargo.lock

# Nix
result
.direnv

# Editor-Specific
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Bevy
/assets
app-bevy/assets
lib-utils/assets

# Misc
.idea
tmp/

# Logs
*.log

# Build artifacts
*.o
*.so
*.dylib
*.dll
*.wasm
*.pyc
node_modules/

# Backup Files
*~

